@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/bg.jpeg);
  background-position: center center;
  font-family: 'Zeyada', cursive;
  overflow: hidden;
}

h1 {
  font-size: 80px;
  text-align: center;
  user-select: none;
}

img {
  max-width: 200px;
  width: 100%;
  user-select: none;
}

p {
  font-size: 50px;
  color: black;
  font-weight: bold;

  user-select: none;

  /*filter: drop-shadow(2px 1.5px 1px rgba(0, 0, 105, 0.9));*/
}

.paper {
  background-image: url('https://i0.wp.com/textures.world/wp-content/uploads/2018/10/2-Millimeter-Paper-Background-copy.jpg?ssl=1');
  background-size: 500px;
  background-position: center;
  padding: 20px 100px;
  /*  min-width: 800px; */

  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);

  position: absolute;
  text-align: center;
}

@media (max-width: 768px) {
  img {
    max-width: 150px;
    width: 100%;
  }

  h1 {
    font-size: 70px;
    text-align: center;
    transform: rotateZ(-45deg);
  }
}
